#principal-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg,  #edeaff, #e2baff, #c1b8fc);
  background-size: 600% 600%;
  animation: gradientAnimation 6s ease infinite;
  display: flex;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
