* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.title {
    display: flex;
    flex: 1;
    margin-bottom: 100px;
}

.inputs {
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 0 auto;

}


.input-area {
}
